<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <title>Image Upload Application</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>


<body>

<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">MyPic</a>
    <a class="navbar-brand" href="#">About</a>
</nav>

<form style="margin:20%" enctype="multipart/form-data" th:action="@{${url}}"  method="POST" >
    <div class="form-group">
        <label for="filePath">Browse File</label>
        <input type="file" name="file" class="form-control" id="filePath" aria-describedby="filePath" placeholder="Enter File">
        <small id="fileHelp" class="form-text text-muted">Upload image.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>


</html>